/* stylelint-disable scss/at-rule-no-unknown */
.su-text-container {
    @extend .container;
    
    max-width: 75ch;
}

.su-search-button {
    .su-search-button-placeholder {
        padding-right: 7ch;

        @include media-breakpoint-up(lg) {
            padding-right: 15ch;
        }
    }
}

/* Product Grid */
.su-product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;

    @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    }
}

.su-product-horizontal-display {
    max-width: 98dvw;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
    scrollbar-color: #FFF $body-bg;
    scrollbar-width: thin;

    @supports not ((scrollbar-color: #FFF $body-bg) or (scrollbar-width: thin)) {
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

/* Landing Page Product Grid */

/* Product Card Styles */
.su-product-card-link {
    text-decoration: none;
    color: inherit;
}

.su-small-product-card {
    width: 10rem;
    scroll-snap-align: start;

    .su-small-product-card-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        overflow: hidden;
    }

    img {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
    }

    .su-small-product-card-content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 0.5rem;
    }

    .su-small-product-card-title {
        font-size: smaller;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
    }

    .su-small-product-card-price {
        font-size: small;
        font-weight: bold;

        &::after {
            content: '€';
        }
    }
}

.su-product-card {
    max-width: 9rem;
    width: 100%;
    background-color: #FED8B1;
    background-position: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 4px 4px 20px 0 #000000a8;
    overflow: hidden;

    .su-product-card-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        aspect-ratio: 4 / 5;
        width: 100%;
        object-fit: cover;
    }

    .su-product-card-content {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    .su-product-card-title {
        font-size: small;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
    }

    .su-product-card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        container-type: inline-size;
        container-name: su-product-card-footer;
    }

    .su-product-card-label {
        font-size: small;
        font-weight: bold;
        margin: 0;
    }

    .su-product-card-price {
        font-size: large;
        font-weight: bold;

        &::after {
            content: '€';
        }
    }

    @include media-breakpoint-up(sm) {
        max-width: 16rem;
    }

    @container su-product-card-footer (width < 8rem) {
        .su-product-card-label {
            display: none;
        }
    }
}
