:root {
    --brand-color: #013755;
}

.navbar {
    background-color: var(--brand-color);
}

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

/* Extend Bootstrap */

.py-10 {
    padding-top: 10rem;
    padding-bottom: 10rem;
}
